<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu") %>

<section class="banner-section">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="/img/BannerG.jpg" class="d-block w-100 img-fluid" alt="BannerG">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/img/BannerR.png" class="d-block w-100 img-fluid" alt="BannerR">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/img/BannerH.png" class="d-block w-100 img-fluid" alt="BannerH">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<br/>
<br/>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="/img/Celeste.png" class="card-img-top" alt="Celeste">
                <div class="card-body text-center">
                    <h5 class="card-title">Celeste</h5>
                    <p class="card-text">Ayuda a Madeline a sobrevivir a los demonios de su interior en su viaje hasta la cima de la montaña Celeste, en este ajustadísimo plataforma, obra de los creadores de TowerFall.</p>
                    <p class="card-price">$580</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/Pokemon.jpg" class="card-img-top" alt="Pokémon Legends: Arceus">
                <div class="card-body text-center">
                    <h5 class="card-title">Pokémon Legends: Arceus</h5>
                    <p class="card-text">Una experiencia de juego única y emocionante, con una narrativa cautivadora y un enfoque en la exploración y la conexión con el mundo Pokémon.</p>
                    <p class="card-price">$1350</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/ZeldaBTW.jpg" class="card-img-top" alt="The Legend of Zelda: Tears of the Kingdom">
                <div class="card-body text-center">
                    <h5 class="card-title">The Legend of Zelda: Tears of the Kingdom</h5>
                    <p class="card-text">Desarrollada por Nintendo, la secuela nos llevará de nuevo a un Hyrule extenso aunque mucho más oscuro y retorcido.</p>
                    <p class="card-price">$1420</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/MarioOdyssey.jpg" class="card-img-top" alt="Super Mario Odyssey">
                <div class="card-body text-center">
                    <h5 class="card-title">Super Mario Odyssey</h5>
                    <p class="card-text">Juego de plataformas para Nintendo Switch, donde Mario y su sombrero Cappy se embarcan en una aventura alrededor del mundo para rescatar a la Princesa Peach de Bowser.</p>
                    <p class="card-price">$890</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/Persona5R.jpg" class="card-img-top" alt="Persona 5 Royal">
                <div class="card-body text-center">
                    <h5 class="card-title">Persona 5 Royal</h5>
                    <p class="card-text">Sigue la historia de Joker, un estudiante transferido que forma parte de los Ladrones Fantasma. Juntos, buscan robar los corazones de personas corruptas en un mundo alterno.</p>
                    <p class="card-price">$640</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/Eldenring.png" class="card-img-top" alt="Elden Ring">
                <div class="card-body text-center">
                    <h5 class="card-title">Elden Ring</h5>
                    <p class="card-text">Un mundo de fantasía oscuro y cautivador, donde la exploración, la lucha y la narrativa se combinan para ofrecer una experiencia de juego única e inolvidable.</p>
                    <p class="card-price">$930</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/CallOfDutyM.png" class="card-img-top" alt="Call of Duty: Warzone">
                <div class="card-body text-center">
                    <h5 class="card-title">Call of Duty: Warzone</h5>
                    <p class="card-text">Ofrece una emocionante campaña para un jugador, modos multijugador, como PvP y zombies, y se conecta con "Call of Duty: Warzone".</p>
                    <p class="card-price">$1470</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/img/Resident4.jpg" class="card-img-top" alt="Resident Evil 4">
                <div class="card-body text-center">
                    <h5 class="card-title">Resident Evil 4</h5>
                    <p class="card-text">Juego de acción y supervivencia de Capcom, donde los jugadores asumen el papel de Leon S.Kennedy, enfrentándose a enemigos infectados en un pueblo europeo.</p>
                    <p class="card-price">$880</p>
                </div>
            </div>
        </div>

        <!-- Agrega las tarjetas para los nuevos juegos aquí -->

    </div>
</div>

<style>
    .banner-section {
        margin-top: 10px;
    }

    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-price {
        color: #000b29;
        font-weight: 600;
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
    }
    footer {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #555555;
  }
</style>
<footer>
  &copy; GameDrop
</footer>
<%- include("../templates/pie")%>
